
.quickform-tab {
    float: left;
    padding: 5px 10px;
}

.quickform-tab.active.here {
    border-top: 1px solid #888;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.quickform-hidden-tab {
    visibility: hidden;
    display: none;
}

.nav.nav-tabs a[aria-haspopup=true] {
   display: none;
}

.quickform-tab a span {
    white-space: nowrap;
}

.configure-actions {
    text-align: right;
}

.quickform-mask-selectable {
    border: 1px dashed #ddd;
    background-color: #fdfdfd;
    padding: 3px;
}

.quickform-mask-selected {
    opacity: 0.4;
    -moz-opacity: 0.4;
    background-color: #fbfbfb;
    padding: 3px;
}

.quickform-mask-button {
    float: right;
    width: 50px;
    padding: 10px;
}

.quickform-mask-hidden {
    display: none;
}

.quickform-mask-notice {
    font-size: small;
    color: #c00;
}

.quickform-mask-notice.fa.fa-exclamation-circle::before {
    padding-right: 10px;
}

.quickform-configure-off {
    background-color: #0a0 !important;
    background-image: none !important;
    color: white !important;
}

.quickform-configure-on {
    background-color: #a00 !important;
    background-image: none !important;
    color: white !important;
}

.tabbedform-error {
    border: 1px solid #eed3d7;
    border-radius: 4px;
    background-color: #f8d0d0;
    background-image: none;
    color: #b94a48;
    margin-right: 2px;
}

.tabbedform-error a {
    color: #b94a48;
    border: 1px solid #eed3d7;
    border-radius: 4px;
    background-color: #f8d0d0 !important;
    background-image: none;
}

/* fixes the mask visibility on editors and file managers */
.quickform-mask-button + .fitemtitle + .feditor,
.quickform-mask-button + .fitemtitle + .ffilemanager,
.quickform-mask-button + .fitemtitle + .ffilepicker {
    margin-right: 65px;
}