
/* layout in modedit */
.quickform.tabtree {
    display: flex;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

.quickform.tabtree .tabrow0 {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}

.quickform.moremenu {
    height: initial;
}

.quickform-tab .nav-link {
    border-radius: 0;
}

.moremenu .quickform-tab.active  .nav-link:focus, .moremenu .quickform-tab.active .nav-link:hover,
.moremenu .quickform-tab.here .nav-link {
    /* TODO : default to boost theme */
    /*
    background-color: #f8f9fa;
    border-bottom-color: #AF28CC;
    */
}

.moremenu .quickform-tab .nav-link:focus {
    box-shadow: none;
}

.moremenu .quickform-tab.here .nav-link {
    /* TODO : default to boost theme */
    /*
    border-bottom-color: #AF28CC;
    */
}

.quickform-hidden-tab {
    visibility: hidden;
    display: none;
}

.quickform-tab a span {
    white-space: nowrap;
}

.configure-actions {
    text-align: right;
}

.quickform-mask-selectable {
    border: 1px dashed #ddd;
    background-color: #fdfdfd;
    padding: 3px;
}

.quickform-mask-selected {
    opacity: 0.4;
    -moz-opacity: 0.4;
    background-color: #fbfbfb;
    padding: 3px;
}

.quickform-mask-button {
    float: right;
    width: 50px;
    padding: 10px;
}

.quickform-mask-hidden {
    display: none;
}

.quickform-mask-notice {
    font-size: small;
    color: #c00;
}

.quickform-mask-notice.fa.fa-exclamation-circle::before {
    padding-right: 10px;
}

.configure-actions {
    padding: 10px;
}

.quickform-configure-off {
/*    background-color: #0a0 !important;
    background-image: none !important;
    color: white !important; */
}

.quickform-configure-on {
    background-color: #a00 !important;
    background-image: none !important;
    color: white !important;
}

.tabbedform-error {
    border: 1px solid #eed3d7;
    border-radius: 4px;
    background-color: #f8d0d0;
    background-image: none;
    color: #b94a48;
    margin-right: 2px;
}

.tabbedform-error a {
    color: #b94a48;
    border: 1px solid #eed3d7;
    border-radius: 4px;
    background-color: #f8d0d0 !important;
    background-image: none;
}

/* fixes the mask visibility on editors and file managers */
.quickform-mask-button + .fitemtitle + .feditor,
.quickform-mask-button + .fitemtitle + .ffilemanager,
.quickform-mask-button + .fitemtitle + .ffilepicker {
    margin-right: 65px;
}